* {
    margin: 0;
    padding: 0;
}

html {
    --layout_-_display: flex;
    --layout-inline_-_display: inline-flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_flex-direction: row;
    --layout-horizontal-reverse_-_display: var(--layout_-_display);
    --layout-horizontal-reverse_-_flex-direction: row-reverse;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_flex-direction: column;
    --layout-vertical-reverse_-_display: var(--layout_-_display);
    --layout-vertical-reverse_-_flex-direction: column-reverse;
        --layout-vertical-reverse_-_flex-direction: column-reverse;
    --layout-wrap_-_flex-wrap: wrap;
    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
    --layout-flex-auto_-_flex: 1 1 auto;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_flex: 1;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-flex-2_-_flex: 2;
    --layout-flex-3_-_flex: 3;
    --layout-flex-4_-_flex: 4;
    --layout-flex-5_-_flex: 5;
    --layout-flex-6_-_flex: 6;
    --layout-flex-7_-_flex: 7;
    --layout-flex-8_-_flex: 8;
    --layout-flex-9_-_flex: 9;
    --layout-flex-10_-_flex: 10;
    --layout-flex-11_-_flex: 11;
    --layout-flex-12_-_flex: 12;
    --layout-start_-_align-items: flex-start;
    --layout-center_-_align-items: center;
    --layout-end_-_align-items: flex-end;
    --layout-baseline_-_align-items: baseline;
    --layout-start-justified_-_justify-content: flex-start;
    --layout-center-justified_-_justify-content: center;
    --layout-end-justified_-_justify-content: flex-end;
    --layout-around-justified_-_justify-content: space-around;
    --layout-justified_-_justify-content: space-between;
    --layout-center-center_-_align-items: var(--layout-center_-_align-items);
    --layout-center-center_-_justify-content: var(--layout-center-justified_-_justify-content);
    --layout-self-start_-_align-self: flex-start;
    --layout-self-center_-_align-self: center;
    --layout-self-end_-_align-self: flex-end;
    --layout-self-stretch_-_align-self: stretch;
    --layout-self-baseline_-_align-self: baseline;
    --layout-start-aligned_-_align-content: flex-start;
    --layout-end-aligned_-_align-content: flex-end;
    --layout-center-aligned_-_align-content: center;
    --layout-between-aligned_-_align-content: space-between;
    --layout-around-aligned_-_align-content: space-around;
    --layout-block_-_display: block;
    --layout-invisible_-_visibility: hidden !important;
    --layout-relative_-_position: relative;
    --layout-fit_-_position: absolute;
    --layout-fit_-_top: 0;
    --layout-fit_-_right: 0;
    --layout-fit_-_bottom: 0;
    --layout-fit_-_left: 0;
    --layout-scroll_-_-webkit-overflow-scrolling: touch;
    --layout-scroll_-_overflow: auto;
    --layout-fullbleed_-_margin: 0;
    --layout-fullbleed_-_height: 100vh;
    --layout-fixed-top_-_position: fixed;
    --layout-fixed-top_-_top: 0;
    --layout-fixed-top_-_left: 0;
    --layout-fixed-top_-_right: 0;
    --layout-fixed-right_-_position: fixed;
    --layout-fixed-right_-_top: 0;
    --layout-fixed-right_-_right: 0;
    --layout-fixed-right_-_bottom: 0;
    --layout-fixed-bottom_-_position: fixed;
    --layout-fixed-bottom_-_right: 0;
    --layout-fixed-bottom_-_bottom: 0;
    --layout-fixed-bottom_-_left: 0;
    --layout-fixed-left_-_position: fixed;
    --layout-fixed-left_-_top: 0;
    --layout-fixed-left_-_bottom: 0;
    --layout-fixed-left_-_left: 0;
    cursor: url("images/cool1.png"), auto;
}

body {
    height: 100vh;
    align-items: center:
    display: flex;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.45);
}

body {
    display: block;
    margin: 8px;
}

main {
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 330px;
    background-color: rgba(17, 17, 17, 0.639);
    color: white;
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    animation: vanish 2s forwards;
    animation-delay: 5s;
    animation-timing-function: ease-out;
}

/*button 1*/

.ian {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    border: solid;
    cursor: url("images/cool2.png"), auto;
}

.ian:hover {
    background-color: red;
    color: white;
    box-shadow: rgba(17, 17, 17, 0.445) 20px 0px 30px;
}

.ian:active {
    background-color: grey;
    color: white;
    opacity: 0.55;
}

/*back-link*/

.back-link {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align-last: center;
}

.friend {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    cursor: url("images/cool2.png"), auto;
}

.friend:hover {
    color: green;
    text-decoration: underline;
}

.wrapper {
    background-color: rgba(128, 0, 128, 0.571);
}

.wrapper p {
    cursor: url("images/cool3.png"), auto;
}

.img-banner {
    display: none;
}

.img-info {
    width: 100%;
}

.img-info h1 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: fuchsia;
    line-height: 44px;
    cursor: url("images/cool3.png"), auto;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.998);
    line-height: 24px;
}

.img-me {
    width: 100%;
    background-color: rgba(128, 0, 128, 0.571);
}

body {
    margin: 0;
    padding: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms
}

nav {
    background-color: rgb(0, 61, 92);
    color: white;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 0 10px;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

nav a {
    cursor: url("images/cool2.png"), auto;
}

nav li:first-child {
    animation-name: nav-first-link-load;
    transform: translateX(-1000%);
}

nav li:last-child {
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
}

nav li:hover {
    background-color: #FFFFFF44;
    border-radius: 5px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav button {
    background-color: rgb(0, 61, 92);
    color: white;
    border: none;
    padding: 30px;
    cursor: inherit;
}

nav button:hover {
    background-color: inherit;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);  
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }

    90% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }

    90% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
          
    }
}

@media (max-width: 100%) {
    
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .img-banner {
        display: block;
        width: 50%;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 100%
        margin: 0 auto;
    } 

    .img-info h1 {
        padding: 20px 0px 0px;
    }

   .img-info p {
       padding: 20px 0px 0px;
    }

    .img-me {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    
    .wrapper {
        width: 1024px;
    }

    .img-info {
        width: 50%;
        float: right;
    }

    .img-info h1 {
        padding: 20px 0px 0px 30px;
    }

    .img-info p {
        padding: 20px 0px 0px 30px;
    }

    .img-me {
        padding-top: 0px;
        width: 50%;
        float: left;
    }
}

/*loader*/

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

