* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    cursor: url("images/cool1.png"), auto;
    background-color: rgba(192, 192, 192, 0.45);
}

.container {
    margin-left: auto;
    margin-right: auto; 
}

main {
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 330px;
    background-color: rgba(17, 17, 17, 0.639);
    color: white;
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    animation: vanish 2s forwards;
    animation-delay: 5s;
    animation-timing-function: ease-out;
}

/*button 1*/

.ian {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    border: solid;
    cursor: url("images/cool2.png"), auto;
}

.ian:hover {
    background-color: red;
    color: white;
    box-shadow: rgba(17, 17, 17, 0.445) 20px 0px 30px;
}

.ian:active {
    background-color: grey;
    color: white;
    opacity: 0.55;
}

/*back-link*/

.back-link {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align-last: center;
}

.friend {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    cursor: url("images/cool2.png"), auto;
}

.friend:hover {
    color: green;
    text-decoration: underline;
}

.wrapper {
    background-color: rgba(128, 0, 128, 0.571);
}

.wrapper p {
    cursor: url("images/cool3.png"), auto;
}

.img-banner {
    display: none;
}

.img-info {
    width: 100%;
}

.img-info h1 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: fuchsia;
    line-height: 44px;
    cursor: url("images/cool3.png"), auto;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.998);
    line-height: 24px;
}

.img-me {
    width: 100%;
    background-color: rgba(128, 0, 128, 0.571);
}

body {
    margin: 0;
    padding: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms
}

nav {
    background-color: rgb(0, 61, 92);
    color: white;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 0 10px;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

nav a {
    cursor: url("images/cool2.png"), auto;
}

nav li:first-child {
    animation-name: nav-first-link-load;
    transform: translateX(-1000%);
}

nav li:last-child {
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
}

nav li:hover {
    background-color: #FFFFFF44;
    border-radius: 5px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav button {
    background-color: rgb(0, 61, 92);
    color: white;
    border: none;
    padding: 30px;
    cursor: inherit;
}

nav button:hover {
    background-color: inherit;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);  
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }

    90% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }

    90% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
          
    }
}

@media (min-width: 758px) {

    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 100%
        margin: 0 auto;
    } 

    .img-info h1 {
        padding: 20px 0px 0px;
    }

   .img-info p {
       padding: 20px 0px 0px;
    }

    .img-me {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    
    .wrapper {
        width: 1024px;
    }

    .img-info {
        width: 50%;
        float: right;
    }

    .img-info h1 {
        padding: 20px 0px 0px 30px;
    }

    .img-info p {
        padding: 20px 0px 0px 30px;
    }

    .img-me {
        padding-top: 0px;
        width: 50%;
        float: left;
    }
}

/*loader*/

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

