html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
}

body {
    background-color: rgba(0, 0, 255, 0.566);
    background: url(https://media.istockphoto.com/photos/office-responsive-devices-web-design-website-picture-id1201166649?k=20&m=1201166649&s=612x612&w=0&h=oLpzLwZhmRe9mFObnylKkE-xJbyYesh8l0Zxucb03gM=);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: rgb(0, 61, 92);
    color: white;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 10px;
    margin: 0 10px;
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

nav li:first-child {
    animation-name: nav-first-link-load;
    transform: translateX(-1000%);
}

nav li:last-child {
    animation-name: nav-last-link-load;
    transform: translateX(1000%);
}

nav li:hover {
    background-color: #FFFFFF44;
}

nav a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 30px;
}

.social a {
    margin-left: 20px;
}

.i {
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 3px 3px;
    font-size: 5px;
    width: 15px;
    text-decoration: none;
}

.fa {
     padding: 10px;  
     text-align: center; 
     border-radius: 50px; 
     margin: 3px 3px;
     font-size: 5px;  
     width: 15px; 
     text-decoration: none;
    }  

.bi {
    padding: 10px;  
    text-align: center; 
    border-radius: 50px; 
    margin: 3px 3px;  
    font-size: 16px;  
    width: 15px; 
    text-decoration: none;
}  

.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
  
.fa-whatsapp {  
  background: #008000;  
  color: white;  
}  

.fa-google {  
  background: #dd4b39;  
  color: white;  
}  

.fa-github {  
  background: black;  
  color: white;  
}  

.bi-tiktok {
    background: grey;
    color: white;
}

.fa:hover {  
    opacity: 0.9;  
}  

.bi:hover {
    opacity: 0.9;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);  
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
          
    }
}

@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }

    90% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
          
    }
}

@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }

    90% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
          
    }
}